
body{
    font-family: "Montserrat";
}

h1 {
    font-family:"Montserrat";
    size: 3.5rem;
    line-height: 1.5;
}

h3 {
    font-family: "Montserrat";
}

h2 {
    font-family: "Montserrat";
}

p {
    color: #8f8f8f;
}


#title {
    background-color: #ff4c68;
    color: #fff;
}

/* navbar-section */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: "Montserrat";
    font-size: 1rem;
}

/* download-buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* title-image */

.title-image {
    width: 60%;
    transform: rotate(25deg);

}

/* features-section */

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 2rem;
}

.icon:hover {
    color: #ff4c68;
}

/* testimonial-section */

#testimonials {
    background-color: #ff4c68;
    color: #fff;
    text-align: center;
    position: relative;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel {
    padding: 7% 15%;
}

/* press-section */

#press {
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* pricing-section */

#pricing {
    padding: 7% 15%;
    text-align: center;
}

/* cta section */

#cta {
    padding: 7% 15%;
    background-color: #ff4c68;
    color: #fff;
    text-align: center;
}

.cta-heading {
    font-family: "Montserrat";
    font-size: 2.5rem;
    line-height: 1rem;
}

/* footer-section */

#footer {
    padding: 7% 15%;
    text-align: center;
}

.social-icon {
    margin: 20px 10px;
}

@media (max-width:1028px) {

    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0deg);
        width: 60%;
        margin-bottom: 10%;
    }
}
